    {% for motor in group.motors %}
    {% if motor.enc_axes_len > 0 %}
    //---- Zero encoder channels ----
    if ((PLC{{plc.plc_num}}_HomingStatus == PLC{{plc.plc_num}}_StatusHoming) || (PLC{{plc.plc_num}}_HomingStatus == PLC{{plc.plc_num}}_StatusDebugHoming)){
        {{ group.homez() }}
    }
    {% endif %}
    {% endfor %}

