    {% for motor in group.motors %}
    {% if motor.enc_axes_len > 0 %}
    ;---- Zero encoder channels ----
    if (HomingStatus = StatusHoming or HomingStatus = StatusDebugHoming)
        cmd "{{ group.set_home() }}"
    endif
    {% endif %}
    {% endfor %}

